<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
  <ng-container matColumnDef="position">
    <th *matHeaderCellDef mat-header-cell> No.</th>
    <td *matCellDef="let element" mat-cell> {{element.position}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell> Name</th>
    <td *matCellDef="let element" mat-cell> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="weight">
    <th *matHeaderCellDef mat-header-cell> Weight</th>
    <td *matCellDef="let element" mat-cell> {{element.weight}} </td>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <th *matHeaderCellDef mat-header-cell> Symbol</th>
    <td *matCellDef="let element" mat-cell> {{element.symbol}} </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th *matHeaderCellDef mat-header-cell> Edit</th>
    <td *matCellDef="let element" mat-cell>
      <button mat-icon-button (click)="editElement(element)">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

  <tr *matNoDataRow class="mat-row">
    <td class="mat-cell" colspan="4">No data matching the filter</td>
  </tr>
</table>
